#demo-content code {
    @apply font-medium text-code text-black leading-code font-mono;
}

#demo-content pre[class*=language-] {
    @apply mb-6 rounded-lg relative flex overflow-hidden;
}

#demo-content pre[class*=language-] > code {
    @apply flex-1 overflow-auto py-1 pl-6 text-white text-code-lg;
}

#demo-content p code {
    @apply text-code;
}

pre .copyBtn {
    @apply absolute
        right-3
        top-3
        h-6
        w-6
        outline-none
        text-gray-600
        hover:text-white
        focus:text-white
        focus:outline-none;
}
